parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined method Symfony\\\\Component\\\\Form\\\\FormError\\|Symfony\\\\Component\\\\Form\\\\FormErrorIterator\\:\\:getMessage\\(\\)\\.$#"
			count: 1
			path: src/Action/LoginAction.php

		-
			message: "#^Parameter \\#1 \\$username of method FOS\\\\UserBundle\\\\Util\\\\UserManipulator\\:\\:activate\\(\\) expects string, array\\<string\\>\\|string\\|null given\\.$#"
			count: 1
			path: src/Command/ActivateUserCommand.php

		-
			message: "#^Parameter \\#2 \\.\\.\\.\\$values of function sprintf expects bool\\|float\\|int\\|string\\|null, array\\<string\\>\\|string\\|null given\\.$#"
			count: 1
			path: src/Command/ActivateUserCommand.php

		-
			message: "#^Only booleans are allowed in a negated boolean, array\\<string\\>\\|string\\|null given\\.$#"
			count: 1
			path: src/Command/ActivateUserCommand.php

		-
			message: "#^Parameter \\#1 \\$username of method FOS\\\\UserBundle\\\\Util\\\\UserManipulator\\:\\:changePassword\\(\\) expects string, array\\<string\\>\\|string\\|null given\\.$#"
			count: 1
			path: src/Command/ChangePasswordCommand.php

		-
			message: "#^Parameter \\#2 \\$password of method FOS\\\\UserBundle\\\\Util\\\\UserManipulator\\:\\:changePassword\\(\\) expects string, array\\<string\\>\\|string\\|null given\\.$#"
			count: 1
			path: src/Command/ChangePasswordCommand.php

		-
			message: "#^Parameter \\#2 \\.\\.\\.\\$values of function sprintf expects bool\\|float\\|int\\|string\\|null, array\\<string\\>\\|string\\|null given\\.$#"
			count: 1
			path: src/Command/ChangePasswordCommand.php

		-
			message: "#^Only booleans are allowed in a negated boolean, array\\<string\\>\\|string\\|null given\\.$#"
			count: 2
			path: src/Command/ChangePasswordCommand.php

		-
			message: "#^Only booleans are allowed in a negated boolean, array\\<string\\>\\|bool\\|string\\|null given\\.$#"
			count: 1
			path: src/Command/CreateUserCommand.php

		-
			message: "#^Parameter \\#1 \\$username of method FOS\\\\UserBundle\\\\Util\\\\UserManipulator\\:\\:create\\(\\) expects string, array\\<string\\>\\|string\\|null given\\.$#"
			count: 1
			path: src/Command/CreateUserCommand.php

		-
			message: "#^Parameter \\#2 \\$password of method FOS\\\\UserBundle\\\\Util\\\\UserManipulator\\:\\:create\\(\\) expects string, array\\<string\\>\\|string\\|null given\\.$#"
			count: 1
			path: src/Command/CreateUserCommand.php

		-
			message: "#^Parameter \\#3 \\$email of method FOS\\\\UserBundle\\\\Util\\\\UserManipulator\\:\\:create\\(\\) expects string, array\\<string\\>\\|string\\|null given\\.$#"
			count: 1
			path: src/Command/CreateUserCommand.php

		-
			message: "#^Parameter \\#5 \\$superadmin of method FOS\\\\UserBundle\\\\Util\\\\UserManipulator\\:\\:create\\(\\) expects bool, array\\<string\\>\\|bool\\|string\\|null given\\.$#"
			count: 1
			path: src/Command/CreateUserCommand.php

		-
			message: "#^Parameter \\#2 \\.\\.\\.\\$values of function sprintf expects bool\\|float\\|int\\|string\\|null, array\\<string\\>\\|string\\|null given\\.$#"
			count: 1
			path: src/Command/CreateUserCommand.php

		-
			message: "#^Only booleans are allowed in a negated boolean, array\\<string\\>\\|string\\|null given\\.$#"
			count: 3
			path: src/Command/CreateUserCommand.php

		-
			message: "#^Parameter \\#1 \\$username of method FOS\\\\UserBundle\\\\Util\\\\UserManipulator\\:\\:deactivate\\(\\) expects string, array\\<string\\>\\|string\\|null given\\.$#"
			count: 1
			path: src/Command/DeactivateUserCommand.php

		-
			message: "#^Parameter \\#2 \\.\\.\\.\\$values of function sprintf expects bool\\|float\\|int\\|string\\|null, array\\<string\\>\\|string\\|null given\\.$#"
			count: 1
			path: src/Command/DeactivateUserCommand.php

		-
			message: "#^Only booleans are allowed in a negated boolean, array\\<string\\>\\|string\\|null given\\.$#"
			count: 1
			path: src/Command/DeactivateUserCommand.php

		-
			message: "#^Parameter \\#3 \\$username of method FOS\\\\UserBundle\\\\Command\\\\RoleCommand\\:\\:executeRoleCommand\\(\\) expects string, array\\<string\\>\\|string\\|null given\\.$#"
			count: 1
			path: src/Command/RoleCommand.php

		-
			message: "#^Parameter \\#5 \\$role of method FOS\\\\UserBundle\\\\Command\\\\RoleCommand\\:\\:executeRoleCommand\\(\\) expects string, array\\<string\\>\\|string\\|null given\\.$#"
			count: 1
			path: src/Command/RoleCommand.php

		-
			message: "#^Only booleans are allowed in a negated boolean, array\\<string\\>\\|string\\|null given\\.$#"
			count: 2
			path: src/Command/RoleCommand.php

		-
			message: "#^Call to an undefined method Symfony\\\\Component\\\\Config\\\\Definition\\\\Builder\\\\NodeDefinition\\:\\:children\\(\\)\\.$#"
			count: 3
			path: src/DependencyInjection/Configuration.php

		-
			message: "#^Call to an undefined method Symfony\\\\Component\\\\Config\\\\Definition\\\\Builder\\\\NodeDefinition\\:\\:addDefaultsIfNotSet\\(\\)\\.$#"
			count: 1
			path: src/DependencyInjection/Configuration.php

		-
			message: "#^Method FOS\\\\UserBundle\\\\DependencyInjection\\\\FOSUserExtension\\:\\:remapParameters\\(\\) has parameter \\$config with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/DependencyInjection/FOSUserExtension.php

		-
			message: "#^Method FOS\\\\UserBundle\\\\DependencyInjection\\\\FOSUserExtension\\:\\:remapParameters\\(\\) has parameter \\$map with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/DependencyInjection/FOSUserExtension.php

		-
			message: "#^Method FOS\\\\UserBundle\\\\DependencyInjection\\\\FOSUserExtension\\:\\:remapParametersNamespaces\\(\\) has parameter \\$config with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/DependencyInjection/FOSUserExtension.php

		-
			message: "#^Method FOS\\\\UserBundle\\\\DependencyInjection\\\\FOSUserExtension\\:\\:remapParametersNamespaces\\(\\) has parameter \\$namespaces with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/DependencyInjection/FOSUserExtension.php

		-
			message: "#^Method FOS\\\\UserBundle\\\\DependencyInjection\\\\FOSUserExtension\\:\\:loadResetting\\(\\) has parameter \\$config with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/DependencyInjection/FOSUserExtension.php

		-
			message: "#^Method FOS\\\\UserBundle\\\\DependencyInjection\\\\FOSUserExtension\\:\\:loadGroups\\(\\) has parameter \\$config with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/DependencyInjection/FOSUserExtension.php

		-
			message: "#^Property FOS\\\\UserBundle\\\\Doctrine\\\\GroupManager\\<GroupTemplate of FOS\\\\UserBundle\\\\Model\\\\GroupInterface\\>\\:\\:\\$class \\(class\\-string\\<GroupTemplate of FOS\\\\UserBundle\\\\Model\\\\GroupInterface\\>\\) does not accept string\\.$#"
			count: 1
			path: src/Doctrine/GroupManager.php

		-
			message: "#^Method FOS\\\\UserBundle\\\\Doctrine\\\\GroupManager\\:\\:findGroupBy\\(\\) has parameter \\$criteria with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Doctrine/GroupManager.php

		-
			message: "#^Property FOS\\\\UserBundle\\\\Doctrine\\\\UserManager\\:\\:\\$class \\(class\\-string\\<FOS\\\\UserBundle\\\\Model\\\\UserInterface\\>\\) does not accept string\\.$#"
			count: 1
			path: src/Doctrine/UserManager.php

		-
			message: "#^Method FOS\\\\UserBundle\\\\Doctrine\\\\UserManager\\:\\:findUserBy\\(\\) has parameter \\$criteria with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Doctrine/UserManager.php

		-
			message: "#^Method FOS\\\\UserBundle\\\\EventListener\\\\FlashListener\\:\\:trans\\(\\) has parameter \\$params with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/EventListener/FlashListener.php

		-
			message: "#^Call to method Symfony\\\\Component\\\\HttpFoundation\\\\Request\\:\\:hasSession\\(\\) will always evaluate to true\\.$#"
			count: 2
			path: src/EventListener/LocaleEventListener.php

		-
			message: "#^Method FOS\\\\UserBundle\\\\Model\\\\GroupManagerInterface\\:\\:findGroupBy\\(\\) has parameter \\$criteria with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Model/GroupManagerInterface.php

		-
			message: "#^Method FOS\\\\UserBundle\\\\Model\\\\UserManagerInterface\\:\\:findUserBy\\(\\) has parameter \\$criteria with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Model/UserManagerInterface.php

		-
			message: "#^Method FOS\\\\UserBundle\\\\Noop\\\\GroupManager\\:\\:findGroupBy\\(\\) has parameter \\$criteria with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Noop/GroupManager.php

		-
			message: "#^Method FOS\\\\UserBundle\\\\Noop\\\\UserManager\\:\\:findUserBy\\(\\) has parameter \\$criteria with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Noop/UserManager.php

		-
			message: "#^Method FOS\\\\UserBundle\\\\Tests\\\\DependencyInjection\\\\FOSUserExtensionTest\\:\\:getEmptyConfig\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/DependencyInjection/FOSUserExtensionTest.php

		-
			message: "#^Method FOS\\\\UserBundle\\\\Tests\\\\DependencyInjection\\\\FOSUserExtensionTest\\:\\:getFullConfig\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/DependencyInjection/FOSUserExtensionTest.php

		-
			message: "#^Method FOS\\\\UserBundle\\\\Tests\\\\Model\\\\UserManagerTest\\:\\:getUserManager\\(\\) has parameter \\$args with no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/Model/UserManagerTest.php

